---
import Link from "./ui/link.astro";
import ContentSection from "~/components/content-section.astro";

import banner from "~/assets/dedust.jpg"



---

<ContentSection title="Trade and swap $BUTTZ" id="swap">

    <Fragment slot="lead">

      After launch, <span class="text-primary">$BUTTZ</span> will be available for trading on <span class="text-primary">DeDust</span> and all others main Base DEX.
        <br>Swap $BUTTZ directly from the official website through the integrated<br><span class="text-primary">UNISWAP</span> terminal.
    </Fragment>
<html lang="en">
<div class="max-w-4xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-1">
      <Picture
      src={banner}
      widths={widths}
      alt="DeDust"
    />
    </div>
</div>


</html>
</ContentSection>
