---
import Link from "./ui/link.astro";
import ContentSection from "~/components/content-section.astro";



---

<ContentSection title="Trade, swap and earn $BUTTZ" id="swap">

    <Fragment slot="lead">

      <span class="text-primary">$BUTTZ</span> is available for swap on all major <span class="text-primary">Solana DEX</span>.
        <br>As soon as the token is listed on Jupiter and available for trading, you can use the integrated terminal to swap through <br><span class="text-primary">Jupiter aggregator</span>.
    </Fragment>
<html lang="en">
</html>
</ContentSection>
