---
import Link from "./ui/link.astro";
import ContentSection from "~/components/content-section.astro";



---

<ContentSection title="Trade and swap $BUTTZ" id="swap">

    <Fragment slot="lead">

      After launch, <span class="text-primary">$BUTTZ</span> will be available for trading on <span class="text-primary">UNISWAP</span> and all others main Base DEX.
        <br>Swap $BUTTZ directly from the official website through the integrated<br><span class="text-primary">UNISWAP</span> terminal.
    </Fragment>
<html lang="en">
</html>
</ContentSection>
