---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";




const features: Array<FeatureItem> = [
    {
    title: "Fair launch",
    description:
      "The team will fund the launch receiving a very minimal token allocation to kickstart trading. There will be no other hidden team tokens, no KOLs or influencer allocations, avoiding them to dump on community and ensuring everything is transparent and traceable on-chain.",
    icon: "mdi:handshake",
  },
{
    title: "LP burned",
    description:
      "When $BUTTZ hit the goal on GasPump, the token automatically deploy all liquidity on DeDust.io that instantly burn the liquidity pool (LP) tokens, further securing the market from any potential liquidity manipulation or creators rug-pull.",
    icon: "mdi:fire",
  },
  {
    title: "Safe liquidity",
    description:
      "With GasPump launch, funds reaching the 1000 TON liquidity cap are automatically routed to DeDust.io, ensuring liquidity is securely and decentrally locked, preventing creator withdrawal.",
    icon: "mdi:chip",
  },
  {
    title: "100%  community driven",
    description:
      "Through staking of your NFT token(s) you can earn rewards in $BUTTZ. All earnings will be redeemable through raffle, merchandising, future mints and many more utilites.",
    icon: "mdi:flash",
  },
  {
    title: "What's DeDust",
    description:
      "DeDust.io is a decentralized exchange on the TON blockchain. By directing liquidity to http://DeDust.io, tokens are easily traded in a secure and decentralized manner. This promotes a healthier trading environment.",
    icon: "mdi:cash-usd",
  },
  {
    title: "What's GasPump",
    description:
      "GasPump(a clone of Pump.fun running on TON) ensures fair token distribution and reduces market manipulation risks. The token creator cannot scam or rug-pull you because the entire process is transparent and governed by bullet-proof smart contracts.",
    icon: "mdi:account-group",
  },
];
---
<ContentSection title="Getting started with $BUTTZ" id="buttz">
    <Fragment slot="lead">Designed to create an entertaining experience for all participants in the ecosystem, <span class="text-primary">$BUTTZ</span> aims to contribute to the vibrancy and diversity of the <span class="text-primary">TON community</span> through a set of mini-apps,games and DeFi dapps.
<br><br>
<span class="text-primary">$BUTTZ </span>will be fair-launched via<span class="text-primary"> GasPump</span> ensuring transparency and fairness.

   <br><br>  
<a href="https://t.me/gasPump_bot/app?startapp=eyJyZWZfdXNlcl9pZCI6NjgyMjU3MjA3MH0" target="_blank" style="display: flex; justify-content: center;">
  <img src="/gaspump.png" alt="GasPump" />
</a>

  </div>
</div>

</Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
