---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Supply burned",
    description:
      "When the fill goal on BaseJump is reached, funds will be used to pool the rest of the supply on UniSwap. Any remaining supply will be burned to respect the launch price.",
    icon: "mdi:handshake",
  },
  {
    title: "Mint disabled",
    description:
      "Thanks to mint authority disabled, $BUTTZ total supply is capped forever and any additional token can be ever minted.",
    icon: "mdi:chip",
  },
  {
    title: "Fair Launch",
    description:
      "With the purpose of killing snipers and bots, $BUTTZ will be fairly launched through BaseJump. Tokens on BaseJump are launched on a bonding curve and are totally safe (no rugs, no honeypots).",
    icon: "mdi:fire",
  },
  {
    title: "100%  community driven",
    description:
      "Through staking of your NFT token(s) you can earn rewards in $BUTTZ. All earnings will be redeemable through raffle, merchandising, future mints and many more utilites.",
    icon: "mdi:flash",
  },
  {
    title: "BUTTZPAY R2E",
    description:
      "Raid to earn program designed to maximise the power of community. Receive daily payouts in BUTTZ, Solana or USDC for your engagement with BUTTZ social contents.",
    icon: "mdi:cash-usd",
  },
  {
    title: " The community",
    description:
      "Empowered by a growing community, $BUTTZ aims to create a movement of enthusiasts where everyone can contribute to the project's direction, sharing a common vision of fairness and equality.",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Getting started with $BUTTZ" id="buttz">
  <Fragment slot="lead">
    Built on TON blockchain, <span class="text-primary">$BUTTZ </span>will be fair-launched via<span class="text-primary"> GasPump</span> ensuring transparency and fairness.
    <br><br>After mint, <span class="text-primary">$BUTTZ</span> will offer <span class="text-primary">multiple utilities</span> and passive income opportunities to an always growing community of holders.

   </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
