---
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";
import ContentSection from "~/components/content-section.astro";
import buttztoken from "~/assets/buttztoken.png";

const widths = [1000];
const sizes = "(max-width: 60px) 20vw, 10vw";


---

<ContentSection title="Building a BUTTZ lovers movement" id="intro">
  <Fragment slot="lead">  
 Reserve a spot to mint your <span class="text-primary">Sol Buttz</span> NFT, discover all <span class="text-primary">$BUTTZ</span> use cases or join the community contributing to the DAO life. 
<br><br>
  This is the <span class="text-primary">one, only and true degen collection</span> <br>specifically designed for you!
</Fragment>

  <div class="grid grid-cols-1 gap-2 sm:grid-cols-3">
        <a
      href="https://discord.gg/SFs72Xyhh3" target="_blank"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="discord" class="h-8" />
      <span>Join Discord</span>
    </a>
    <a
      href="https://buttz.gitbook.io/solbuttz/overview/mint-info-and-whitelist" target="_blank"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="git" class="h-8" />
      <span>Get whitelisted!</span>
    </a> 
    <a
      href="https://twitter.com/sol_buttz" target="_blank"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="twitter" class="h-8" />
      <span>Follow us</span>
    </a>
  </div>

</ContentSection>