ting startred w---
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";
import ContentSection from "~/components/content-section.astro";
import buttztoken from "~/assets/buttztoken.png";

const widths = [1000];
const sizes = "(max-width: 60px) 20vw, 10vw";


---

<ContentSection title="Getting started with $BUTTZ" id="intro">
  <Fragment slot="lead">  
 Built on TON blockchain, <span class="text-primary">$BUTTZ </span>will be fair-launched via<span class="text-primary"> GasPump</span> ensuring transparency and fairness.
<br><br> After launch, <span class="text-primary">$BUTTZ</span> will be available for trading on <span class="text-primary">UNISWAP</span> and all others main Base DEX.
        <br>Swap $BUTTZ directly from the official website through the integrated<br><span class="text-primary">UNISWAP</span> terminal.

<div class="grid grid-cols-1 gap-2 sm:grid-cols-3">
        <a
      href="https://discord.gg/SFs72Xyhh3" target="_blank"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telegram" class="h-8" />
      <span>Join Telegram</span>
    </a>
    <a
      href="https://t.co/uuQDNLkIhI" target="_blank"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="git" class="h-8" />
      <span>Join GasPump</span>
    </a> 
    <a
      href="https://twitter.com/sol_buttz" target="_blank"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="twitter" class="h-8" />
      <span>Follow us</span>
    </a>
  </div>

</ContentSection>
