---
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";
import { getShowcase } from "~/data/showcase";
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";

import banner from "~/assets/pics/dedust.jpg"
import banner2 from "~/assets/pics/gaspump.jpg"



const sites = await getShowcase();
const widths=[1000];
const sizes = "(max-width: 280px) 21vw, 21vw";
---

<ContentSection title="NFT Collection" id="collection">
  <Fragment slot="lead">
    <span class="text-primary">Sol Buttz</span> is a collection of <span class="text-primary">only 340 pixelated NFT </span> with artworks designed one by one by the pixel artist<span class="text-primary"> Danelisol</span>.    
    <br><br> Each NFT will allow to <span class="text-primary">earn staking rewards in $BUTTZ</span>, providing to holders a wide range of additional utilities.
    <br><br><button type="button" class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"><a href="https://magiceden.io/marketplace/sol_buttz" target="_blank">BUY ON MAGIC EDEN</a></button>
    <button type="button" class="text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"><a href="https://stake.cardinal.so/buttz" target="_blank">STAKE NFT ON CARDINAL</a></button>
 
  </Fragment>
  <div class="max-w-4xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-1">

      <Picture
      src={banner}
      widths={widths}
      alt="DeDust"
    />

      <Picture
      src={banner2}
      widths={widths}
      alt="DeDust"
    />

    </div>

    <div class="grid grid-cols-3 gap-3 sm:grid-cols-3">
      
      <a
      href="https://discord.gg/SFs72Xyhh3" target="_blank"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="discord" class="h-8" />
      <span>Join Discord</span>
    </a> 
    <a
        href="https://buttz.gitbook.io/solbuttz/overview/sol-buttz-nft-collection" target="_blank"
        class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
      >
        <Icon pack="mdi" name="book-open-variant" class="h-8" />
        <span>Read Gitbook</span>
      </a>
    <a
      href="https://twitter.com/sol_buttz" target="_blank"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="twitter" class="h-8" />
      <span>Follow us</span>
    </a>
                
    </div>

  </div>
</ContentSection>
