---
import { Picture } from "@astrojs/image/components";
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";
import GitHubCorner from "./github-corner.astro";
import buttztoken from "~/assets/buttztoken.png";



const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---


<section class="relative h-full bg-black">
  <Starfield />
  <GitHubCorner />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative grid h-full place-items-center sm:grid-cols-2">
    <h2 class="flex flex-col gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-center">
     
      <div class="gradient-text text-center font-extrabold tracking-tighter text-8xl">SOL BUTTZ</div>    
      <div class="gradient-text text-center font-extrabold tracking-tighter text-2xl">Showcase of 5000 pixelated artworks</div>
      <div class="gradient-text text-center font-extrabold tracking-tighter text-2xl">powered by $BUTTZ and residing on Solana.
      <br><br><button type="button" class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"><a href="https://launchmynft.io/collections/7ZYXfeib6E1eLKntetgtnN3euWxVEasdwXehndLYTXb3/97M1KmEpJX6byjeKE4Z4" target="_blank">MINT NOW ON LMNFT</a></button>
        

      </div>
    </h2>

    <div
      id="buttztoken"
      class="w-2/3 max-w-3xl self-center sm:w-4/12 sm:self-center sm:justify-self-start"
    >
      <Picture
        class="object-cover w-full h-full"
        src={buttztoken}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="$Buttz Token"
      />
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #buttztoken {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #buttztoken {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
